.whitecard {
  background-color: var(--color-leftnav);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 500px;
  height: 280px;
  padding: 1.5rem;
}
.small-card {
  background-color: var(--color-leftnav);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 500px;
  height: 115px;
}

@keyframes PlaneAnim {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
  }
}
@keyframes CloudsAnim {
  0% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(60%);
  }
}

// Anim for sound waves and

@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.6);
  }
}
@keyframes loud {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(1.2);
  }
}

.boxContainer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  --boxSize: 7px;
  --gutter: 4.5px;
  width: calc((var(--boxSize) + var(--gutter)) * 4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: hue;
}

.box {
  transform: scaleY(0.4);
  height: 100%;
  width: var(--boxSize);
  background: var(--color-mediacard) !important;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1 {
  animation-name: quiet;
  animation-delay: 0.05s;
}

.box2 {
  animation-name: normal;
  animation-delay: 0.15s;
}

.box3 {
  animation-name: quiet;
  animation-delay: 0.15s;
}

.box4 {
  animation-name: loud;
  animation-delay: 0.25s;
}

.box5 {
  animation-name: quiet;
  animation-delay: 0.1s;
}
