// Extra Vars:
:root {
  --font-header: 'Poppins', sans-serif;
  --color-main: rgba(9, 9, 32, 0.918);
  --color-leftnav: rgba(255, 255, 255, 0.932);
  --color-lefticons: rgba(9, 9, 32, 0.918);
  --color-topicons: rgba(255, 255, 255, 0.932);
  --box-shadow-nav: drop-shadow(10px 5px 6px rgba(0, 0, 0, 0.01));
  --color-red: rgba(155, 49, 49, 0.849);
  --color-btn: linear-gradient(to left, #b13c89, #bb4382, #c34c7c, #c95677, #d86c7e);
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  --box-shadow-card: drop-shadow(-10px 5px 6px rgba(0, 0, 0, 0.01));
  --transition-500: all 500ms ease;
}
