.card--anchor {
  color: var(--color-main);
  text-decoration: none;
  transition: var(--transition-300);
  &:hover {
    color: var(--color-red);
  }
}
.homecards {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  filter: var(--box-shadow-card);
  color: var(--color-main);

  &__flight {
    &__destination {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      margin-bottom: auto;
      width: 100%;
      font-family: var(--font-header);

      .country {
        font-size: 1.2rem;
      }
      .shorthand--country {
        font-size: 2.3rem;
        text-transform: uppercase;
        font-weight: bolder;
        text-align: left;
      }
      .rtl {
        text-align: right;
      }
    }
  }
  &__duration {
    border-radius: 2rem;
    background-color: var(--color-red);
    height: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
    position: relative;
    .fa-plane {
      color: var(--color-red);
      font-size: 3rem;
      z-index: 2;
    }

    &::after {
      position: absolute;
      content: '';
      background-color: rgba(192, 191, 191, 0.986);
      width: 50%;
      height: 0.6rem;
      right: 0rem;
      border-radius: 2rem;
      border: 1px solid rgb(143, 140, 140);
    }
  }

  &__times {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__time {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    min-width: 50px;
    align-items: flex-end;

    &--mid {
      text-align: center;
      & span:first-of-type {
        color: white;
        background-color: rgba(23, 175, 23, 0.753);
        border-radius: 1.5rem;
        padding: 0.1rem 1rem;
      }
    }
  }
  &__top--text {
    font-weight: bold;
    font-size: 1.2rem;
  }
  &__bottom--text {
    font-size: 0.95rem;
    opacity: 0.4;
    font-weight: bold;
    text-transform: uppercase;
  }
  #pm {
    text-align: right;
  }
  #am {
    margin-right: auto;
  }

  // Weather Card!

  &__weather,
  .smallcard {
    height: 180px;
    position: relative;
    overflow: hidden;
    width: 100%;

    &:hover {
      color: var(--color-leftnav);
    }
    &::after {
      position: absolute;
      content: '';
      background: linear-gradient(to bottom, #00c3ff, #2e5d9bee);
      width: 100%;
      max-width: 190px;
      height: 100%;
      right: 0%;
      top: 50%;
      transform: translate(0, -50%);
      transition: var(--transition-300);
    }
    &:hover::after {
      max-width: 500px;
      pointer-events: none;
    }

    &__temperature {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      gap: 3rem;
    }
    &__degrees {
      z-index: 5;
      width: 50%;
      display: flex;
      flex-direction: column;
      font-family: var(--font-header);
      height: 100%;
      margin-bottom: auto;
      gap: 0.5rem;
      text-transform: capitalize;
      padding: 1.5rem;

      .city--name {
        font-size: 3rem;
      }
      .degree {
        font-weight: bold;
        font-size: 1.8rem;
        font-size: clamp(1.5rem, 5vw, 1.8rem);
      }
      .degree--description {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
    &__image {
      z-index: 1;
      display: flex;
      align-self: center;
      justify-content: center;
      position: relative;
      width: 190px;

      img {
        width: 100%;
        max-width: 160px;
      }
    }
  }
  // Media Card
  .render--homecard-media {
    &::after {
      background: var(--color-red) !important;
    }

    .card--media--img {
      img {
        border: 2px solid var(--color-main);
        border-radius: 50%;
      }
    }
  }
  #card-media {
    h2 {
      max-width: 290px;
      width: 100%;
      font-size: 3rem;
    }
  }

  .card--icon {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  // Movie card

  &__movies {
    &::after {
      background: var(--color-main) !important;
      left: unset;
      right: 0%;
    }
    &--image {
      img {
        min-width: 100%;
      }
    }

    .movie--name {
      font-size: 1.5rem;
    }
    .movie--duration {
      font-size: 1.1rem;
    }
  }
}
