.media {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    font-family: var(--font-header);

    h1 {
      font-size: 4.5rem;
    }
    #author--name {
      font-weight: bold;
      font-size: 1.6rem;
    }
    &__info {
      font-size: 1rem;
      flex-direction: column;
      display: flex;
      font-weight: bold;
    }
  }

  .media__content {
    font-weight: bold;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    border-radius: 0rem;
    border-bottom: 1px solid rgba(197, 197, 197, 0.527);
    position: relative;

    color: var(--color-main);

    &::before {
      position: absolute;
      content: '';
      width: 8px;
      height: 100%;
      background-color: var(--color-red);
      left: 0;
    }

    &--number {
      color: var(--color-main);
    }
    &--name {
      display: flex;
      flex-direction: column;
      align-items: center;

      #name {
        transition: var(--transition-500);
        &:hover {
          color: var(--color-red);
        }
      }

      #author--name {
        opacity: 0.5;
        margin-right: auto;
        font-weight: light;
      }
    }

    &--controller {
      cursor: pointer;
      transition: var(--transition-500);
      color: var(--color-main);

      &:hover {
        color: var(--color-red);
      }
    }
  }
}
// .blur {
//   width: 100%;
//   max-width: 500px;
//   height: 115px;
//   position: fixed;
//   left: 50.5%;
//   bottom: 3rem;
//   transform: translate(50%, 0);
//   filter: blur(1px);
//   background: linear-gradient(176deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
//   pointer-events: none;
// }

.media__player {
  position: fixed;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  gap: 2rem;

  .media--container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }
  &__forward,
  &__backward {
    font-size: 2rem;
    color: var(--color-main);
    cursor: pointer;
    transition: var(--transition-500);
    opacity: 0.8;
    &:hover {
      color: var(--color-red);
      opacity: 1;
    }
  }

  &__player {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 450px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.281);
    padding: 0.5rem;
  }
  .media__player__album {
    width: 100%;
    border-radius: 50%;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
  }
  &__volume {
    input {
      cursor: pointer;
      width: 450px;
    }
  }

  display: none;
}

#card {
  outline: none;
  border: none;
  transition: var(--transition-500);

  &:hover {
    transform: perspective(1000px) scaleY(1) scaleX(1) rotateY(-2deg) skewX(-2deg);
  }
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: rgba(128, 128, 128, 0.705);
  outline: none;
  border-radius: 2rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: var(--color-leftnav);
  cursor: pointer;
}
