.media {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: var(--transition-300);
  gap: 0.8rem;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-leftnav);
    max-height: 200px;
    transition: var(--transition-300);

    h1 {
      font-size: 4.5rem;
    }
    #author--name {
      font-weight: bold;
      font-size: 1.6rem;
    }
    &__info {
      font-size: 1rem;
      flex-direction: column;
      display: flex;
      font-weight: bold;
    }
  }

  .media__content {
    font-weight: bold;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    border-radius: 0rem;
    border-bottom: 1px solid rgba(197, 197, 197, 0.527);
    position: relative;
    color: var(--color-main);
    transition: var(--transition-300);
    padding: 1rem 1.5rem;

    &:hover #name {
      color: var(--color-red);
    }
    &:hover .media__content--controller {
      color: var(--color-red);
    }

    &::before {
      position: absolute;
      content: '';
      width: 8px;
      height: 100%;
      background-color: var(--color-red);
      left: 0;
      transition: var(--transition-300);
    }

    &--number {
      color: var(--color-main);
      z-index: 5;
    }
    &--name {
      display: flex;
      flex-direction: column;
      align-items: center;

      #name {
        transition: var(--transition-300);
        color: var(--color-main);
        font-size: 1.4rem;
      }

      #author--name {
        color: var(--color-main);
        opacity: 0.5;
        font-weight: light;
      }
    }

    &--controller {
      cursor: pointer;
      transition: var(--transition-300);
      color: var(--color-main);
    }
  }
}

.media__player {
  position: fixed;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;

  .media--container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }
  &__forward,
  &__backward {
    font-size: 2rem;
    color: var(--color-main);
    cursor: pointer;
    transition: var(--transition-300);
    opacity: 0.85;
    &:hover {
      color: var(--color-red);
      opacity: 1;
    }
  }

  &__player {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 450px;
    min-width: 450px;
    min-height: 450px;
    border: 2px solid var(--color-white);
    background: var(--color-mediacard);
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
    transition: var(--transition-300);
    // On hover add border to controllers
    &:hover .player-icon--wrapper {
      border: 2px white;
      border-style: dotted dotted dotted double;
    }
    .render--media--image {
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
    .player-icon--wrapper {
      width: 80px;
      height: 80px;
      background: transparent;
      border-radius: 50%;
      z-index: 5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-played {
        padding-left: 0.4rem;
      }

      .player-icon {
        transition: var(--transition-300);
        opacity: 0;
        color: var(--color-white);
      }
    }

    &:hover {
      transform: scale(1.02); //Scale player
      .player-icon {
        font-size: 3rem;
        opacity: 1;
      }
    }
    &:active {
      transform: scale(0.97);
      opacity: 0.75;

      // On Player hover change color for controllers on image
      .player-icon {
        color: var(--color-red);
      }
    }
  }

  .media__player__album {
    width: 100%;
    border-radius: 50%;
    min-width: 430px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    color: var(--color-leftnav);
  }
  &__volume {
    display: flex;
    gap: 1rem;
    input {
      cursor: pointer;
    }

    .slider__volume {
      flex: 0 0 20%;
    }
    .slider__seek {
      flex: 1;
    }
  }

  display: none;
}

// Playing now Card class!
.songcard {
  outline: none;
  border: none;
  transition: var(--transition-300);

  .playing {
    display: flex;
  }
  .paused {
    display: none;
  }
  &.playing-now .whitecard--small {
    .media__content--number {
      transition: var(--transition-300);
      padding-left: 1rem;
    }
    &::before {
      width: 90px;
      transition: var(--transition-300);
    }
  }
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.849);
  outline: none;
  border-radius: 2rem;
  opacity: 0.85;
  transition: var(--transition-300);
  &:hover {
    opacity: 1;
    background-color: var(--color-red);
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: var(--color-main);
  cursor: pointer;
  transition: all 1s linear;
}

.media__controller {
  position: fixed;
  top: 3.5rem;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: var(--color-leftnav);
  width: 100%;
  max-width: 230px;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  visibility: hidden;
  transition: var(--transition-300);

  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.3rem;
  }

  &--title {
    font-size: 0.85rem;
    font-weight: bold;
    opacity: 0.85;
    transition: var(--transition-300);
    cursor: pointer;

    &:hover {
      color: var(--color-red);
    }

    .title--anchor {
      transition: var(--transition-300);
      color: var(--color-main);
      text-decoration: none;
    }
  }
  &--buttons {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
  }
  .icon {
    transition: var(--transition-300);
    color: var(--color-main);
    &:hover {
      color: var(--color-red);
    }
  }

  &__anims {
    position: absolute;
    --boxSize: 2.7px;
    height: 17px;
    margin-left: auto;
    right: 0;
    cursor: default;
    .box {
      background: var(--color-red);
      transform: scaleY(0.1);
    }
  }
}
