.hugecard {
  background-color: var(--color-leftnav);
  border-radius: 1rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 1400px;
  height: 700px;
  padding: 1.5rem;
}

.whitecard {
  background-color: var(--color-leftnav);
  border-radius: 1rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 500px;
  height: 280px;
}

.whitecard:not(.whitecard--small) {
  padding: 1.5rem;
}

.whitecard--small {
  height: 115px;
}

.whitecard--movie {
  background-color: var(--color-leftnav);
  border-radius: 1rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 500px;
  height: 600px;
}

.bgdark .lightimage {
  display: none !important;
}

.bgdark .darkimage {
  display: unset !important;
}

.bglight .lightimage {
  display: unset;
}

.bglight .darkimage {
  display: none;
}

@-webkit-keyframes PlaneAnim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes PlaneAnim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@-webkit-keyframes CloudsAnim {
  0% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  100% {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
  }
}

@keyframes CloudsAnim {
  0% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  100% {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
  }
}

@-webkit-keyframes quiet {
  25% {
    -webkit-transform: scaleY(0.6);
            transform: scaleY(0.6);
  }
  50% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  75% {
    -webkit-transform: scaleY(0.8);
            transform: scaleY(0.8);
  }
}

@keyframes quiet {
  25% {
    -webkit-transform: scaleY(0.6);
            transform: scaleY(0.6);
  }
  50% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  75% {
    -webkit-transform: scaleY(0.8);
            transform: scaleY(0.8);
  }
}

@-webkit-keyframes normal {
  25% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  75% {
    -webkit-transform: scaleY(0.6);
            transform: scaleY(0.6);
  }
}

@keyframes normal {
  25% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  75% {
    -webkit-transform: scaleY(0.6);
            transform: scaleY(0.6);
  }
}

@-webkit-keyframes loud {
  25% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  75% {
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
  }
}

@keyframes loud {
  25% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  75% {
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
  }
}

.boxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  --boxSize: 7px;
  --gutter: 4.5px;
  width: calc((var(--boxSize) + var(--gutter)) * 4);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box {
  -webkit-transform: scaleY(0.4);
          transform: scaleY(0.4);
  height: 100%;
  width: var(--boxSize);
  background: var(--color-mediacard);
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1 {
  -webkit-animation-name: quiet;
          animation-name: quiet;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.box2 {
  -webkit-animation-name: normal;
          animation-name: normal;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.box3 {
  -webkit-animation-name: quiet;
          animation-name: quiet;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.box4 {
  -webkit-animation-name: loud;
          animation-name: loud;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.box5 {
  -webkit-animation-name: quiet;
          animation-name: quiet;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.bglight {
  --color-white: rgb(255, 255, 255);
  --color-main: rgba(9, 9, 32, 0.918);
  --color-main-movie: rgba(9, 9, 32, 0.918);
  --color-leftnav: rgba(255, 255, 255, 0.932);
  --color-lefticons: rgba(9, 9, 32, 0.918);
  --color-topicons: rgba(9, 9, 32, 0.918);
  --color-power: rgba(8, 8, 82, 0.918);
  --color-header: rgba(9, 9, 32, 0.918);
  --color-mediacard: rgba(9, 9, 32, 0.918);
  --color-red: rgb(211, 28, 89);
  --bg-gradient: fixed
    linear-gradient(
      -120deg,
      rgba(255, 255, 255, 0.39) 5%,
      rgba(188, 255, 229, 0.7) 20%,
      rgba(0, 93, 255, 0.8) 60%,
      rgba(223, 0, 235, 0.1) 100%
    );
  --bg-fade: linear-gradient(to bottom, rgba(255, 255, 255, 0.856) 30%, transparent 100%);
  --bg-fade-movie: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 100%);
}

.bgdark {
  --color-white: rgb(255, 255, 255);
  --color-main: rgba(255, 255, 255, 0.932);
  --color-main-movie: rgba(179, 179, 179, 0.616);
  --color-leftnav: rgb(9, 9, 32);
  --color-lefticons: rgba(9, 9, 32, 0.918);
  --color-topicons: rgba(9, 9, 32, 0.918);
  --color-power: rgba(9, 9, 32, 0.918);
  --color-header: rgba(219, 219, 219, 0.932);
  --color-mediacard: rgba(9, 9, 32, 0.918);
  --color-red: rgb(201, 20, 80);
  --bg-gradient: fixed linear-gradient(315deg, #000000 50%, #2f358ad2 100%);
  --bg-fade: linear-gradient(to bottom, #000000cc 0%, transparent 100%);
  --bg-fade-movie: linear-gradient(to top, rgb(8, 8, 26) 0%, transparent 100%);
}

:root {
  --font-header: 'Poppins', sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 50px -10px;
  --box-shadow-weather: rgba(0, 0, 0, 0.712) -10px 15px 20px -20px;
  --box-shadow-card: drop-shadow(-10px 5px 6px rgba(0, 0, 0, 0.01));
  --transition-300: all 300ms ease;
  --transition-theme: all 500ms ease;
  --box-shadow-nav: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.01));
}

.card--anchor {
  color: var(--color-main);
  text-decoration: none;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.card--anchor:hover {
  color: var(--color-red);
}

.homecards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-filter: var(--box-shadow-card);
          filter: var(--box-shadow-card);
  color: var(--color-main);
}

.homecards__flight__destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: auto;
  width: 100%;
  font-family: var(--font-header);
}

.homecards__flight__destination .country {
  font-size: 1.2rem;
}

.homecards__flight__destination .shorthand--country {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: left;
}

.homecards__flight__destination .rtl {
  text-align: right;
}

.homecards__duration {
  border-radius: 2rem;
  background-color: var(--color-red);
  height: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0;
  position: relative;
}

.homecards__duration .fa-plane {
  color: var(--color-red);
  font-size: 3rem;
  z-index: 2;
}

.homecards__duration::after {
  position: absolute;
  content: '';
  background-color: rgba(192, 191, 191, 0.986);
  width: 50%;
  height: 0.6rem;
  right: 0rem;
  border-radius: 2rem;
  border: 1px solid #8f8c8c;
}

.homecards__times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.homecards__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
  min-width: 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.homecards__time--mid {
  text-align: center;
}

.homecards__time--mid span:first-of-type {
  color: white;
  background-color: rgba(23, 175, 23, 0.753);
  border-radius: 1.5rem;
  padding: 0.1rem 1rem;
}

.homecards__top--text {
  font-weight: bold;
  font-size: 1.2rem;
}

.homecards__bottom--text {
  font-size: 0.95rem;
  opacity: 0.4;
  font-weight: bold;
  text-transform: uppercase;
}

.homecards #pm {
  text-align: right;
}

.homecards #am {
  margin-right: auto;
}

.homecards__weather,
.homecards .smallcard {
  height: 180px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.homecards__weather:hover,
.homecards .smallcard:hover {
  color: var(--color-leftnav);
}

.homecards__weather::after,
.homecards .smallcard::after {
  position: absolute;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(#00c3ff), to(#2e5d9bee));
  background: linear-gradient(to bottom, #00c3ff, #2e5d9bee);
  width: 100%;
  max-width: 190px;
  height: 100%;
  right: 0%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.homecards__weather:hover::after,
.homecards .smallcard:hover::after {
  max-width: 500px;
  pointer-events: none;
}

.homecards__weather__temperature,
.homecards .smallcard__temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  gap: 3rem;
}

.homecards__weather__degrees,
.homecards .smallcard__degrees {
  z-index: 5;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--font-header);
  height: 100%;
  margin-bottom: auto;
  gap: 0.5rem;
  text-transform: capitalize;
  padding: 1.5rem;
}

.homecards__weather__degrees .city--name,
.homecards .smallcard__degrees .city--name {
  font-size: 3rem;
}

.homecards__weather__degrees .degree,
.homecards .smallcard__degrees .degree {
  font-weight: bold;
  font-size: 1.8rem;
  font-size: clamp(1.5rem, 5vw, 1.8rem);
}

.homecards__weather__degrees .degree--description,
.homecards .smallcard__degrees .degree--description {
  font-weight: bold;
  font-size: 1.2rem;
}

.homecards__weather__image,
.homecards .smallcard__image {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 190px;
}

.homecards__weather__image img,
.homecards .smallcard__image img {
  width: 100%;
  max-width: 160px;
}

.homecards .render--homecard-media::after {
  background: var(--color-red) !important;
}

.homecards .render--homecard-media .card--media--img img {
  border: 2px solid var(--color-main);
  border-radius: 50%;
  min-width: 175px;
}

.homecards #card-media h2 {
  max-width: 290px;
  width: 100%;
  font-size: 3rem;
}

.homecards .card--icon {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.homecards__movies::after {
  background: goldenrod !important;
  left: unset;
  right: 0%;
}

.homecards__movies--image img {
  min-width: 100%;
  -o-object-fit: center;
     object-fit: center;
}

.homecards__movies .movie--year {
  opacity: 0.7;
  font-size: 1rem;
}

.homecards__movies .movie--name {
  font-size: 1.5rem;
}

.homecards__movies .movie--duration {
  font-size: 1.1rem;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  gap: 0.8rem;
}

.media__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-leftnav);
  max-height: 200px;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.media__header h1 {
  font-size: 4.5rem;
}

.media__header #author--name {
  font-weight: bold;
  font-size: 1.6rem;
}

.media__header__info {
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

.media .media__content {
  font-weight: bold;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  border-radius: 0rem;
  border-bottom: 1px solid rgba(197, 197, 197, 0.527);
  position: relative;
  color: var(--color-main);
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  padding: 1rem 1.5rem;
}

.media .media__content:hover #name {
  color: var(--color-red);
}

.media .media__content:hover .media__content--controller {
  color: var(--color-red);
}

.media .media__content::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 100%;
  background-color: var(--color-red);
  left: 0;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.media .media__content--number {
  color: var(--color-main);
  z-index: 5;
}

.media .media__content--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media .media__content--name #name {
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  color: var(--color-main);
  font-size: 1.4rem;
}

.media .media__content--name #author--name {
  color: var(--color-main);
  opacity: 0.5;
  font-weight: light;
}

.media .media__content--controller {
  cursor: pointer;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  color: var(--color-main);
}

.media__player {
  position: fixed;
  top: 50%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  display: none;
}

.media__player .media--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}

.media__player__forward, .media__player__backward {
  font-size: 2rem;
  color: var(--color-main);
  cursor: pointer;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  opacity: 0.85;
}

.media__player__forward:hover, .media__player__backward:hover {
  color: var(--color-red);
  opacity: 1;
}

.media__player__player {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 450px;
  min-width: 450px;
  min-height: 450px;
  border: 2px solid var(--color-white);
  background: var(--color-mediacard);
  padding: 0.5rem;
  position: relative;
  cursor: pointer;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.media__player__player:hover .player-icon--wrapper {
  border: 2px white;
  border-style: dotted dotted dotted double;
}

.media__player__player .render--media--image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.media__player__player .player-icon--wrapper {
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media__player__player .player-icon--wrapper .icon-played {
  padding-left: 0.4rem;
}

.media__player__player .player-icon--wrapper .player-icon {
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  opacity: 0;
  color: var(--color-white);
}

.media__player__player:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.media__player__player:hover .player-icon {
  font-size: 3rem;
  opacity: 1;
}

.media__player__player:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  opacity: 0.75;
}

.media__player__player:active .player-icon {
  color: var(--color-red);
}

.media__player .media__player__album {
  width: 100%;
  border-radius: 50%;
  min-width: 430px;
}

.media__player__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  color: var(--color-leftnav);
}

.media__player__volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.media__player__volume input {
  cursor: pointer;
}

.media__player__volume .slider__volume {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.media__player__volume .slider__seek {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.songcard {
  outline: none;
  border: none;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.songcard .playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.songcard .paused {
  display: none;
}

.songcard.playing-now .whitecard--small .media__content--number {
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  padding-left: 1rem;
}

.songcard.playing-now .whitecard--small::before {
  width: 90px;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.849);
  outline: none;
  border-radius: 2rem;
  opacity: 0.85;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.slider:hover {
  opacity: 1;
  background-color: var(--color-red);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: var(--color-main);
  cursor: pointer;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.media__controller {
  position: fixed;
  top: 3.5rem;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  background-color: var(--color-leftnav);
  width: 100%;
  max-width: 230px;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  visibility: hidden;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.media__controller--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
}

.media__controller--title {
  font-size: 0.85rem;
  font-weight: bold;
  opacity: 0.85;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  cursor: pointer;
}

.media__controller--title:hover {
  color: var(--color-red);
}

.media__controller--title .title--anchor {
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  color: var(--color-main);
  text-decoration: none;
}

.media__controller--buttons {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.media__controller .icon {
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  color: var(--color-main);
}

.media__controller .icon:hover {
  color: var(--color-red);
}

.media__controller__anims {
  position: absolute;
  --boxSize: 2.7px;
  height: 17px;
  margin-left: auto;
  right: 0;
  cursor: default;
}

.media__controller__anims .box {
  background: var(--color-red);
  -webkit-transform: scaleY(0.1);
          transform: scaleY(0.1);
}

.weather__header {
  width: 100%;
}

.weather__daily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.weather__daily .weather-cards {
  cursor: pointer;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  color: var(--color-main);
}

.weather__daily .weather-cards:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.weather__daily .weather-cards-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
  height: 115px;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: var(--box-shadow-weather);
          box-shadow: var(--box-shadow-weather);
}

.weather__daily .weather-cards-card:hover {
  color: var(--color-leftnav);
}

.weather__daily .weather-cards-card:hover::before {
  height: 100%;
  background-color: var(--color-main);
}

.weather__daily .weather-cards-card::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 8px;
  background-color: var(--color-red);
  bottom: 0;
  left: 0;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  z-index: 0;
}

.weather__daily .weather-cards-card__day {
  text-transform: uppercase;
  min-width: 80px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather__daily .weather-cards-card__day h1 {
  font-size: 2.2rem;
}

.weather__daily .weather-cards-card__day span {
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.5;
}

.weather__daily .weather-cards-card__image {
  min-width: 80px;
  z-index: 5;
  pointer-events: none;
}

.weather__daily .weather-cards-card__image img {
  width: 100%;
  max-width: 75px;
}

.weather__daily .weather-cards-card__temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.weather__daily .weather-cards-card__temp span {
  font-size: 2rem;
  font-weight: bold;
}

.weather__daily .weather-cards-card__temp span:nth-of-type(2) {
  opacity: 0.5;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.weather__app {
  display: none;
  position: fixed;
  top: 53%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 82%;
  width: 700px;
  border-radius: 2rem;
  overflow: hidden;
  z-index: 10;
}

.weather__app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
  height: 100%;
}

.weather__app__container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-leftnav);
  opacity: 0.55;
  z-index: -1;
}

.weather__app__current {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-leftnav);
  width: 100%;
  height: 20%;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: var(--box-shadow-weather);
          box-shadow: var(--box-shadow-weather);
}

.weather__app__current::before {
  position: absolute;
  content: '';
  width: 40%;
  height: 8px;
  background-color: var(--color-red);
  bottom: 0;
  left: 0;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  z-index: 0;
}

.weather__app__current:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: var(--color-main);
}

.weather__app__current:hover::before {
  height: 15px;
}

.weather__app__current:hover .weather__app__current-left {
  color: var(--color-leftnav);
}

.weather__app__current-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 1.5rem;
  color: var(--color-main);
  text-transform: uppercase;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  gap: 0.3rem;
  width: 45%;
}

.weather__app__current-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.weather__app__current-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.weather__app__current-date h3 {
  font-weight: bold;
  font-size: 1.3rem;
  opacity: 0.5;
}

.weather__app__current-time h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.weather__app__current-temp h3 {
  font-weight: bold;
  font-size: 4rem;
}

.weather__app__current-description h3 {
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.5;
}

.weather__app__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.weather__stat {
  background: var(--color-leftnav);
  -webkit-box-shadow: var(--box-shadow-weather);
          box-shadow: var(--box-shadow-weather);
  border-radius: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 25%;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  cursor: pointer;
  padding: 1.5rem;
  opacity: 0.8;
  min-height: 200px;
}

.weather__stat:nth-last-of-type(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
}

.weather__stat:last-of-type {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.weather__stat:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: var(--color-main);
}

.weather__stat:hover .weather__stat--title h3 {
  color: var(--color-leftnav);
}

.weather__stat:hover .weather__stat--text span {
  color: var(--color-leftnav);
}

.weather__stat:hover .weather__stat--title {
  opacity: 1;
}

.weather__stat:hover .weather__stat--icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.weather__stat__subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  color: var(--color-main);
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.weather__stat--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.weather__stat--title h3 {
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.weather__stat--text {
  font-size: 2rem;
  margin-bottom: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.weather__stat--icon {
  font-size: 3.5rem;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  z-index: 5;
}

.weather__stat--icon .fa-sun {
  color: #caa154;
}

.weather__stat--icon .fa-water {
  color: #39acbb;
}

.weather__stat--icon .fa-wind {
  color: #b1adad;
}

.weather__stat--icon .fa-thermometer-half {
  color: #814040;
}

.weather__stat--icon .fa-cloud-sun {
  color: #c0a167;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.weather__stat--icon .fa-cloud-moon {
  color: #71a7af;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.weather__stat__twilight--wrapper {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.weather__stat__twilight--wrapper:hover {
  opacity: 0.85;
}

.weather__stat__twilight--wrapper:hover .fa-cloud-sun {
  color: #ffcd6f;
}

.weather__stat__twilight--wrapper:hover .fa-cloud-moon {
  color: #52dbf0;
}

.weather__stat__twilight--wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(165, 140, 93, 0.849);
  z-index: -1;
}

.weather__stat__twilight--wrapper::after {
  content: '';
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(113, 167, 175, 0.849);
  z-index: -1;
}

.weather__stat--twilight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.weather__stat--sunrise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 50%;
}

.weather__stat--sunset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 50%;
}

.wind--text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wind--text span:nth-of-type(2) {
  opacity: 0.5;
  margin-left: 0.25rem;
  font-size: 1.25rem;
}

.movie__header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  text-transform: capitalize;
}

.movie .movie__header__input--wrapper {
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.movie .movie__header__input--wrapper .movie-form {
  width: 100%;
}

.movie .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
}

.movie .input-wrapper .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.movie .input-wrapper .button-wrapper button {
  height: 40px;
  width: 40px;
  margin-left: auto;
  outline: none;
  border: none;
  color: var(--color-main);
  background: var(--color-leftnav);
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.movie .input-wrapper .button-wrapper button:hover {
  color: var(--color-leftnav);
  background: var(--color-main);
}

.movie #movie-reset {
  position: absolute;
  right: -2rem;
  bottom: 50%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  outline: none;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--color-main);
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  padding: 0.2rem;
  display: none;
}

.movie #movie-reset:hover {
  -webkit-transform: rotate(-90deg) translate(-50%, 0);
          transform: rotate(-90deg) translate(-50%, 0);
}

.movie #movie-search {
  width: 100%;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  outline: none;
  border: none;
  padding-left: 0.3rem;
  height: 40px;
  background: var(--color-leftnav);
  color: var(--color-main);
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.movie #movie-search:focus-within {
  background: var(--color-main);
  color: var(--color-leftnav);
}

.movie-cards {
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.movie-cards-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  max-width: 500px;
  color: var(--color-main);
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  height: 190px;
  border-radius: 1rem;
  overflow: hidden;
}

.movie-cards-card::before {
  content: '';
  position: absolute;
  left: 0;
  background-color: var(--color-red);
  width: 8px;
  height: 100%;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.movie-cards-card.selected-movie, .movie-cards-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.movie-cards-card.selected-movie::before, .movie-cards-card:hover::before {
  width: 55%;
}

.movie-cards-card.selected-movie .movie-cards-card-left, .movie-cards-card:hover .movie-cards-card-left {
  color: var(--color-leftnav);
}

.movie-cards-card.selected-movie .movie-cards-card-title, .movie-cards-card:hover .movie-cards-card-title {
  opacity: 1;
}

.movie-cards-card-right {
  width: 45%;
}

.movie-cards-card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.movie-cards-card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: center;
     object-fit: center;
  pointer-events: none;
}

.movie-cards-card-left {
  padding: 1rem;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  z-index: 5;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  gap: 0.5rem;
}

.movie-cards-card-title {
  opacity: 0.7;
  font-size: 1.3rem;
  max-width: 250px;
}

.movie-cards-card-type, .movie-cards-card-year {
  font-size: 0.8rem;
}

.movie-cards-card-genre, .movie-cards-card-duration {
  font-size: 0.8rem;
}

.no-result-wrapper {
  text-align: center;
}

.no-result-wrapper h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-main);
}

.movie__service {
  position: fixed;
  top: 54%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 87%;
  width: 750px;
  max-height: 750px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
  border-radius: 1rem;
  display: none;
}

.movie__service:hover .movie__service__data h5::before {
  width: 100%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.movie__service::-webkit-scrollbar {
  width: 0.01px;
}

.movie__service::-webkit-scrollbar-track, .movie__service::-webkit-scrollbar-thumb, .movie__service::-webkit-scrollbar-thumb:hover {
  opacity: 0;
}

.movie__service__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.movie__service__top--image {
  width: 100%;
  position: relative;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie__service__top--image .poster-image {
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 5;
  padding: 1rem 0;
}

.movie__service__top--image .blurred-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.movie__service__top--image::before {
  content: '';
  position: absolute;
  bottom: -0.2rem;
  height: 100%;
  width: 100%;
  background: var(--bg-fade-movie);
  opacity: 0.85;
}

.movie__service__top-header {
  width: 100%;
  position: absolute;
  bottom: 2.5rem;
  left: 2rem;
  z-index: 5;
}

.movie__service__top-header-title {
  max-width: 500px;
}

.movie__service__top-header-title h3 {
  color: var(--color-red);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.movie__service__top-header-runtime {
  width: 100%;
  position: absolute;
  left: -3rem;
  top: 1rem;
}

.movie__service__top-header-runtime h5 {
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  color: var(--color-white);
  text-transform: lowercase;
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  opacity: 0.8;
}

.movie__service__top-header #movie-rating {
  text-transform: uppercase;
  font-size: 0.7 rem;
}

.movie__service__top-genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  z-index: 5;
}

.movie__service__top-genre .genre-text {
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  text-transform: capitalize;
  border-radius: 2rem;
  padding: 0.35rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0.85;
  color: var(--color-main);
  background-color: var(--color-leftnav);
  -webkit-box-shadow: var(--box-shadow-weather);
          box-shadow: var(--box-shadow-weather);
  opacity: 0.85;
}

.movie__service__top-genre .genre-text:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  opacity: 1;
}

.movie__service__data {
  padding: 1.5rem;
  padding-bottom: 5rem;
  width: 100%;
  color: var(--color-main);
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  background-color: var(--color-leftnav);
}

.movie__service__data h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-main);
  opacity: 0.8;
  margin-bottom: 1rem;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  position: relative;
}

.movie__service__data h5::before {
  position: absolute;
  content: '';
  background-color: var(--color-main);
  width: 0%;
  height: 1px;
  bottom: -0.2rem;
  left: 0;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.movie__service__data span {
  font-size: 0.9rem;
}

.movie__service__data .movie__service__data-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.movie__service__data-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 55%;
  max-width: 430px;
  gap: 1rem;
}

.movie__service__data-left-actors {
  gap: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.movie__service__data-left-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3rem;
}

.movie__service__data-right {
  width: 45%;
}

.movie__service__data-right-awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.movie__service__data-right-awards .awards-header {
  margin-bottom: auto;
}

.movie__service__data-plot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3rem;
}

.movie__service__data-metacritic {
  gap: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.movie__service__data-metacritic span {
  font-weight: bold;
  font-size: 1.6rem;
}

html input::-webkit-outer-spin-button,
html input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0 !important;
}

a:hover {
  color: unset !important;
}

body {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  -webkit-transition: var(--transition-theme);
  transition: var(--transition-theme);
}

.bgdark .app-bg__clouds:first-of-type {
  opacity: 0.4 !important;
}

.bgdark .app-bg__clouds:last-of-type {
  opacity: 0.2 !important;
}

.bglight .app-bg__clouds:first-of-type {
  opacity: 0.7;
}

.bglight .app-bg__clouds:last-of-type {
  opacity: 0.55;
}

audio {
  display: none;
}

.app-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.app-bg::after {
  content: '';
  opacity: 0.8;
  inset: 0;
  position: absolute;
  z-index: 1;
  background: var(--bg-gradient);
}

.app-bg__dummy {
  position: fixed;
  right: 0;
  height: 150px;
  width: 100%;
  z-index: 5;
}

.app-bg__fade {
  height: 100%;
  -webkit-mask-image: var(--bg-fade);
          mask-image: var(--bg-fade);
  background: var(--bg-fade);
  width: 100%;
  margin: auto;
}

.app-bg .airplane {
  position: fixed;
  height: 100vh;
  top: 60%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  display: none;
}

.app-bg .airplane__image {
  width: 100%;
  max-height: 90%;
  -webkit-animation: PlaneAnim 4s ease-in-out infinite alternate;
          animation: PlaneAnim 4s ease-in-out infinite alternate;
}

.app-bg__clouds {
  position: fixed;
  bottom: -5rem;
}

.app-bg__clouds:first-of-type {
  opacity: 0.6;
  z-index: 3;
  -webkit-animation: CloudsAnim 20s linear infinite;
          animation: CloudsAnim 20s linear infinite;
}

.app-bg__clouds:last-of-type {
  top: -70%;
  left: 20%;
  opacity: 0.46;
  z-index: 1;
  -webkit-animation: CloudsAnim 55s linear infinite;
          animation: CloudsAnim 55s linear infinite;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 900px;
  padding: 115px 0 100px;
  margin-left: auto;
}

.page__content {
  max-width: 500px;
  width: 100%;
}

.page__header {
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  color: var(--color-header);
  max-width: 480px;
}

.page__header--rtl {
  direction: rtl;
}

.page__header h1 {
  max-width: 480px;
  font-family: var(--font-header);
  font-size: 6.5rem;
  font-weight: bold;
  line-height: 1.1;
}

.page__header p {
  font-size: 1.2rem;
  font-weight: bold;
}

.leftnav {
  position: relative;
  z-index: 10;
}

.leftnav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85%;
  width: 90px;
  max-width: 500px;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.leftnav nav::before, .leftnav nav::after {
  content: '';
  position: absolute;
  inset: 0;
  height: 60%;
  background-color: var(--color-leftnav);
  z-index: -1;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.leftnav nav::after {
  top: unset;
  bottom: 0;
  -webkit-transform: skewX(-25deg) rotate(-25deg);
          transform: skewX(-25deg) rotate(-25deg);
  border-bottom-right-radius: 1.5rem;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.leftnav nav::before {
  -webkit-transform: skewX(25deg) rotate(25deg);
          transform: skewX(25deg) rotate(25deg);
  border-top-right-radius: 1.5rem;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.leftnav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
}

.leftnav__links li {
  list-style-type: none;
}

.leftnav__links .link {
  text-decoration: none;
  color: var(--color-main);
  font-size: 1.9rem;
  font-size: clamp(1.2rem, 2vw, 1.9rem);
  position: relative;
  outline: none;
  border: none;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  background-color: transparent;
}

.leftnav__links .link:hover {
  color: var(--color-red) !important;
}

.leftnav__links .link::before {
  content: '';
  position: absolute;
  top: 5rem;
  height: 1px;
  width: 200%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: rgba(153, 141, 141, 0.829);
  pointer-events: none;
}

.leftnav #leftnav--menu::before {
  display: none;
}

.top--nav {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 15%;
  z-index: 999;
}

.top--nav .circle--clippath {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(0% at 0% 0%);
          clip-path: circle(0% at 0% 0%);
  background-color: black;
  z-index: 999;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.top--nav .circle--clippath--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  font-size: 3rem;
}

.top--nav .power {
  z-index: 999;
  position: relative;
}

.top--nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top--nav__links li {
  list-style-type: none;
}

.top--nav__links svg {
  width: 100%;
  max-width: 40px;
}

.top--nav__links svg * {
  fill: var(--color-topicons);
}

.top--nav__links .topnav--link {
  text-decoration: none;
  fill: var(--color-topicons);
  font-size: 1.4rem;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  background: transparent;
  outline: none;
  border: none;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.top--nav__links .topnav--link:hover {
  color: var(--color-red);
}

.top--nav__links .volume {
  position: relative;
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
}

.top--nav__links .volume:active {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.top--nav__links .volume::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-40deg) scale(1.35);
          transform: translate(-50%, -50%) rotate(-40deg) scale(1.35);
  background: var(--color-main);
  -webkit-transition: var(--transition-300);
  transition: var(--transition-300);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}

.top--nav__links .volume:active::before, .top--nav__links .volume.mute-selected::before {
  width: 100%;
}

.top--nav__links .volume.mute-selected::before {
  background: var(--color-red);
}
/*# sourceMappingURL=main.css.map */