.whitecard {
  background-color: var(--color-leftnav);
  border-radius: 1rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 1.5rem;
  width: 100%;
  max-width: 500px;
  height: 280px;
}

.whitecard--small {
  background-color: var(--color-leftnav);
  border-radius: 1rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 1.5rem 2rem;
  width: 100%;
  max-width: 500px;
  height: 115px;
}

@-webkit-keyframes PlaneAnim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes PlaneAnim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@-webkit-keyframes CloudsAnim {
  0% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  100% {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
  }
}

@keyframes CloudsAnim {
  0% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  100% {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
  }
}

:root {
  --font-header: 'Poppins', sans-serif;
  --color-main: rgba(9, 9, 32, 0.918);
  --color-leftnav: rgba(255, 255, 255, 0.932);
  --color-lefticons: rgba(9, 9, 32, 0.918);
  --color-topicons: rgba(255, 255, 255, 0.932);
  --box-shadow-nav: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.01));
  --color-red: rgb(211, 28, 89);
  --color-btn: linear-gradient(to left, #b13c89, #bb4382, #c34c7c, #c95677, #d86c7e);
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 50px -10px;
  --box-shadow-card: drop-shadow(-10px 5px 6px rgba(0, 0, 0, 0.01));
  --transition-500: all 300ms ease;
  --bg-gradient: fixed
    linear-gradient(
      -120deg,
      rgba(255, 255, 255, 0.39) 5%,
      rgba(188, 255, 229, 0.7) 20%,
      rgba(0, 93, 255, 0.8) 60%,
      rgba(223, 0, 235, 0.1) 100%
    );
}

.card--anchor {
  color: var(--color-main);
  text-decoration: none;
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
}

.card--anchor:hover {
  color: var(--color-red);
}

.homecards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-filter: var(--box-shadow-card);
          filter: var(--box-shadow-card);
  color: var(--color-main);
}

.homecards__flight__destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: auto;
  width: 100%;
  font-family: var(--font-header);
}

.homecards__flight__destination .country {
  font-size: 1.2rem;
}

.homecards__flight__destination .shorthand--country {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: left;
}

.homecards__flight__destination .rtl {
  text-align: right;
}

.homecards__duration {
  border-radius: 2rem;
  background-color: var(--color-red);
  height: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
  position: relative;
}

.homecards__duration .fa-plane {
  color: var(--color-red);
  font-size: 3rem;
  z-index: 2;
}

.homecards__duration::after {
  position: absolute;
  content: '';
  background-color: rgba(192, 191, 191, 0.986);
  width: 50%;
  height: 0.6rem;
  right: 0rem;
  border-radius: 2rem;
  border: 1px solid #8f8c8c;
}

.homecards__times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.homecards__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
  min-width: 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.homecards__time--mid {
  text-align: center;
}

.homecards__time--mid span:first-of-type {
  color: white;
  background-color: rgba(23, 175, 23, 0.753);
  border-radius: 1.5rem;
  padding: 0.1rem 1rem;
}

.homecards__top--text {
  font-weight: bold;
  font-size: 1.2rem;
}

.homecards__bottom--text {
  font-size: 0.95rem;
  opacity: 0.4;
  font-weight: bold;
  text-transform: uppercase;
}

.homecards #pm {
  text-align: right;
}

.homecards #am {
  margin-right: auto;
}

.homecards__weather,
.homecards .smallcard {
  height: 180px;
  position: relative;
  overflow: hidden;
  padding: unset;
  width: 100%;
  padding: 1rem;
}

.homecards__weather::after,
.homecards .smallcard::after {
  position: absolute;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(#00c3ff), to(#2e5d9bee));
  background: linear-gradient(to bottom, #00c3ff, #2e5d9bee);
  width: 100%;
  max-width: 187.2px;
  height: 100%;
  right: 0%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.homecards__weather__temperature,
.homecards .smallcard__temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.homecards__weather__degrees,
.homecards .smallcard__degrees {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--font-header);
}

.homecards__weather__degrees .degree,
.homecards .smallcard__degrees .degree {
  font-weight: bold;
  font-size: 2.8rem;
  font-size: clamp(1.5rem, 5vw, 2.8rem);
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homecards__weather__degrees .degree--description,
.homecards .smallcard__degrees .degree--description {
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homecards__weather__image,
.homecards .smallcard__image {
  z-index: 1;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homecards__weather__image img,
.homecards .smallcard__image img {
  width: 100%;
  max-width: 175.2px;
}

.homecards .render--homecard-media::after {
  display: none;
}

.homecards #card-media h2 {
  max-width: 290px;
  width: 100%;
  font-size: 3rem;
}

.homecards #card--img img {
  margin-left: 1rem;
}

.homecards .card--icon {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.homecards__movies::after {
  background: rgba(9, 9, 32, 0.918) !important;
  left: unset;
  right: 0%;
}

.homecards__movies .movie--name {
  font-size: 1.5rem;
}

.homecards__movies .movie--duration {
  font-size: 1.1rem;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.media__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  font-family: var(--font-header);
  min-height: 200px;
}

.media__header h1 {
  font-size: 4.5rem;
}

.media__header #author--name {
  font-weight: bold;
  font-size: 1.6rem;
}

.media__header__info {
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

.media .media__content {
  font-weight: bold;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  border-radius: 0rem;
  border-bottom: 1px solid rgba(197, 197, 197, 0.527);
  position: relative;
  color: var(--color-main);
}

.media .media__content::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 100%;
  background-color: var(--color-red);
  left: 0;
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
}

.media .media__content--number {
  color: var(--color-main);
  z-index: 5;
}

.media .media__content--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media .media__content--name #name {
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
}

.media .media__content--name #name:hover {
  color: var(--color-red);
}

.media .media__content--name #author--name {
  opacity: 0.5;
  margin-right: auto;
  font-weight: light;
}

.media .media__content--controller {
  cursor: pointer;
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
  color: var(--color-main);
}

.media .media__content--controller:hover {
  color: var(--color-red);
}

.media__player {
  position: fixed;
  top: 50%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  gap: 2rem;
  display: none;
}

.media__player .media--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}

.media__player__forward, .media__player__backward {
  font-size: 2rem;
  color: var(--color-main);
  cursor: pointer;
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
  opacity: 0.8;
}

.media__player__forward:hover, .media__player__backward:hover {
  color: var(--color-red);
  opacity: 1;
}

.media__player__player {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 450px;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.281);
  padding: 0.5rem;
  position: relative;
  cursor: pointer;
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
}

.media__player__player:hover .player-icon--wrapper {
  border: 2px white;
  border-style: dotted dotted dotted double;
}

.media__player__player .render--media--image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.media__player__player .player-icon--wrapper {
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media__player__player .player-icon--wrapper #icon-played {
  padding-left: 0.4rem;
}

.media__player__player .player-icon--wrapper .player-icon {
  font-size: 1.8rem;
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
  opacity: 0;
  color: var(--color-leftnav);
}

.media__player__player:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.media__player__player:hover .player-icon {
  font-size: 3rem;
  opacity: 1;
}

.media__player__player:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  opacity: 0.75;
}

.media__player .media__player__album {
  width: 100%;
  border-radius: 50%;
  min-width: 430px;
}

.media__player__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.media__player__volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.media__player__volume input {
  cursor: pointer;
}

.media__player__volume .slider__volume {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.media__player__volume .slider__seek {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.songcard {
  outline: none;
  border: none;
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
}

.songcard .playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.songcard .paused {
  display: none;
}

.songcard.playing-now .whitecard--small {
  background: rgba(128, 128, 128, 0.1);
}

.songcard.playing-now .whitecard--small::before {
  width: 70px;
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: rgba(128, 128, 128, 0.705);
  outline: none;
  border-radius: 2rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: var(--color-leftnav);
  cursor: pointer;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.media--player {
  width: 1000px;
  height: 200px;
}

html input::-webkit-outer-spin-button,
html input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
}

audio {
  display: none;
}

.app-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.app-bg::after {
  content: '';
  opacity: 0.55;
  inset: 0;
  position: absolute;
  z-index: 1;
  background: var(--bg-gradient);
  mix-blend-mode: overlay;
}

.app-bg__dummy {
  position: fixed;
  right: 0;
  height: 150px;
  width: 100%;
  z-index: 5;
}

.app-bg__fade {
  height: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, white), to(transparent));
  -webkit-mask-image: linear-gradient(to bottom, white 30%, transparent 100%);
          mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, white), to(transparent));
          mask-image: linear-gradient(to bottom, white 30%, transparent 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, white), to(transparent));
  background: linear-gradient(to bottom, white 30%, transparent 100%);
  width: 100%;
  margin: auto;
}

.app-bg .airplane {
  position: fixed;
  height: 100vh;
  top: 58%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  display: none;
}

.app-bg .airplane__image {
  width: 100%;
  max-height: 90%;
  -webkit-animation: PlaneAnim 5s ease-in-out infinite alternate;
          animation: PlaneAnim 5s ease-in-out infinite alternate;
}

.app-bg__clouds {
  position: fixed;
  bottom: -5rem;
}

.app-bg__clouds:first-of-type {
  opacity: 0.6;
  z-index: 3;
  -webkit-animation: CloudsAnim 25s linear infinite;
          animation: CloudsAnim 25s linear infinite;
}

.app-bg__clouds:last-of-type {
  left: 20%;
  opacity: 0.46;
  z-index: 1;
  -webkit-animation: CloudsAnim 55s linear infinite;
          animation: CloudsAnim 55s linear infinite;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 900px;
  padding: 150px 0 100px;
  margin-left: auto;
}

.page__content {
  max-width: 500px;
  width: 100%;
}

.page__header {
  color: var(--color-main);
  max-width: 480px;
  text-align: left;
}

.page__header h1 {
  max-width: 480px;
  font-family: var(--font-header);
  font-size: 6rem;
  font-weight: bold;
}

.page__header p {
  font-size: 1.2rem;
  font-weight: bold;
}

.leftnav {
  position: relative;
  z-index: 10;
}

.leftnav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85%;
  width: 90px;
  max-width: 500px;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.leftnav nav::before, .leftnav nav::after {
  content: '';
  position: absolute;
  inset: 0;
  height: 60%;
  background-color: var(--color-leftnav);
  z-index: -1;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.leftnav nav::after {
  top: unset;
  bottom: 0;
  -webkit-transform: skewX(-25deg) rotate(-25deg);
          transform: skewX(-25deg) rotate(-25deg);
  border-bottom-right-radius: 1.5rem;
}

.leftnav nav::before {
  -webkit-transform: skewX(25deg) rotate(25deg);
          transform: skewX(25deg) rotate(25deg);
  border-top-right-radius: 1.5rem;
}

.leftnav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
}

.leftnav__links li {
  list-style-type: none;
}

.leftnav__links .link {
  text-decoration: none;
  color: var(--color-main);
  font-size: 1.9rem;
  font-size: clamp(1.2rem, 2vw, 1.9rem);
  position: relative;
  outline: none;
  border: none;
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
  background-color: transparent;
}

.leftnav__links .link:hover {
  color: var(--color-red);
}

.leftnav__links .link::before {
  content: '';
  position: absolute;
  top: 5rem;
  height: 1px;
  width: 200%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: rgba(153, 141, 141, 0.829);
  pointer-events: none;
}

.top--nav {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 15%;
  z-index: 999;
}

.top--nav .circle--clippath {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(0% at 0% 0%);
          clip-path: circle(0% at 0% 0%);
  background-color: black;
  z-index: 999;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.top--nav .circle--clippath--active {
  -webkit-clip-path: circle(150% at 0% 0%);
          clip-path: circle(150% at 0% 0%);
}

.top--nav .power {
  z-index: 999;
  position: relative;
}

.top--nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top--nav__links li {
  list-style-type: none;
}

.top--nav__links svg {
  width: 100%;
  max-width: 40px;
}

.top--nav__links svg * {
  fill: var(--color-topmain);
}

.top--nav__links .topnav--link {
  text-decoration: none;
  color: var(--color-main);
  font-size: 1.4rem;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  background: transparent;
  outline: none;
  border: none;
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
}

.top--nav__links .topnav--link:hover {
  color: var(--color-red);
}

.top--nav__links .volume {
  position: relative;
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
}

.top--nav__links .volume:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.top--nav__links .volume::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-40deg) scale(1.35);
          transform: translate(-50%, -50%) rotate(-40deg) scale(1.35);
  background: var(--color-main);
  -webkit-transition: var(--transition-500);
  transition: var(--transition-500);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}

.top--nav__links .volume:hover::before, .top--nav__links .volume.mute-selected::before {
  width: 100%;
}

.top--nav__links .volume.mute-selected::before {
  background: var(--color-red);
}
/*# sourceMappingURL=main.css.map */